<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">
  </head>
  <body class="container">
    <header>
        <h1 class="display-4"><%= title %></h1>
    </header>
    <div role="main">
        <table class="table">
        <%- content %>
        </table>
    </div>
  </body>
</html>
